
.menu ul{
    margin: 0px; 
    padding: 0px;
    list-style-type: none; 
    max-width: 42rem;
    background-color: black; 
    display: flex; 
}

.menu ul a{
    display: block; 
    padding: 0 2em; 
    line-height: 2.1em; 
    text-decoration: none; 
    color: white;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.menu ul li.primerli a{
    border-left: none; 
}

.menu ul a:hover{
    color:#c79c60; 
} 

.nav-link a:active {
    color:#c79c60;
}

/* Pie de página enlaces*/
a:hover{
    color:#c79c60;
} 


/*--------------------*/
/*--Menú hamburguesa--*/
/*--------------------*/

button#burger{
    display: none; 
    cursor: pointer;
    border: none;
}

.transparent {
    background-color: transparent;
}

.gold {
    background-color: #c79c60;
    transition: all 0.5s ease-in-out;
}




/*El menú hamburguesa aparecerá con esta resolución o menor*/
@media screen and (max-width:768px) {

    button#burger {
        display: block;
        margin-left: auto;
        right: 40px;
    }

    .menu {
        display: none;
    }

    .menuBlock {
        display: block;
    }

    .navul {
        display: flex;
        flex-direction: column;

        position: absolute;
        top: 80px;
        right: 25px;
    }

    .menu ul a {
        border-bottom: #FFFFFF solid thin;
        font-size: 0.9rem;
    }

    button img {
        width: 16px;
        height: 16px;
        margin-top: 2px;
    }

}
